/*//////////GENERAL//////////*/
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.15em;
    line-height: 1.9em;
    color: #1D1E1E;
    opacity: 1;
    transition: 0.7s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}

ol, ul {
    list-style-position: outside;
    padding-left: 0;
}


 ul li {
    padding-left: 1em;
    padding-bottom: 1em;
    
}

.img-tea {
    width: 25%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: .025em;
}

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
    /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
    font-size: 1.625em;
    /* 1.625x body copy size = 26px */
    line-height: 1.15384615;
    /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
    font-size: 1.375em;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
    font-size: 1.125em;
    /* 1.125x body copy size = 18px */
    line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}


.container-fluid {
    padding: 2.5vw;
}

.img-fluid{
	width: 100%;
	display: block;
}

.graphic {
	z-index: 1;
}

.grph-pad {
	padding-bottom: 10px;
}

.top-buffer { margin-top: 2.5em; }

.btn {
	border-radius: .45rem;
}

button.scroll {
	height: 50px;
	width: 50px;
	border-radius: 90%;
	border: 2px solid black;
	position: fixed;
	bottom: 20px;
	right: 10px;
	z-index: 100;
	background-color: rgba(255, 196, 45, 1);
	visibility:hidden;
}

button.scroll:after{
	content: '\02191';
	display: inline-block;
	position: relative;
	top: -.25rem;
	font-size: 20px;
	color: #000;
	-webkit-text-stroke: 1px black;
}

/*//////////NAV BAR//////////*/
/*.navbar .navbar-brand img{
  height: 10vh;
    
}*/
a.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 1em;
}

.navbar {
    padding: 1.5em
}

/*Change navbar logo color*/
.navbar-light .navbar-brand{
    color: #1D1E1E;
}

@media screen and (min-width: 768px) {
  height: 10vh;
}

@media screen and (min-width: 768px) {
    .navbar {
        padding: 1.5em 5em ;
    }
}

.overlay {
    margin-bottom: -8.75em; 
    z-index: 1;
}

li.nav-item {
    padding: 1em;
}

ul li a {
	letter-spacing: .05em;
	text-decoration: none;
    font-weight: 600;
    margin: 0em .5em;
}

/*underline hover css appears on screens >= 768px */
@media screen and (min-width: 768px) {
	ul li a::after {
		content: '';
		display: block;
		width: 0;
		height: .25em;
		background: rgba(247, 164, 6, 1);
		/* prefixes for chrome, safari, firefox */
		-webkit-transition: width .2s linear;
		-moz-transition: width .2s linear;
		transition: width .2s linear;
	}

	ul li a:hover::after {
		width: 98%;
	}
}

/*//////////FOOTER//////////*/
footer {
	padding: 20px 20px;
	background-color: rgba(20, 54, 66, 1);
    font-family: 'Raleway', sans-serif;
	font-size: 12px;
	color: white;
	list-style-type: none;
    letter-spacing: .025em;
	}

footer .text-align {
    text-align: right;
}

@media screen and (max-width: 43.75em){
    footer .text-align{
    text-align: left;
    }
}

.icon {
    color: rgba(255,255, 255,1);

}

.icon img{
    width: 2em;
}


/*//////////HOME PAGE//////////*/
.intro {
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.25em;
    padding-bottom: .5em;
}

 h1.intro span {
    font-style: normal;
    font-weight: bold;
    color: rgba(247,164, 6,1);
}

/*//////////PROJECTS SECTION//////////*/

/*case study text shows on hover*/
.pic-link:hover img{
	filter:brightness(.25);
	box-sizing: border-box;
}

.pic-link :not(img) {
	position: absolute;
	z-index: 1;
	top: 45%;
	right: 2%;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: rgba(255, 196, 45, 1);
	width: 95%;
	padding: 0  0 0 -100px;
	font-weight: 600;
	color: #FFF;
	opacity: 0;

} 

.pic-link:hover :not(img) {
	opacity: 1;
}

/*small screens have effect without hovering*/
@media only screen and (max-width: 768px) {
	.pic-link img{
		filter:brightness(.5);
	}

	.pic-link :not(img) {
		position: absolute;
		z-index: 100;
		top: 45%;
		right: 0;
		text-align: center;
		width: 100%;
		color: #FFF;
		opacity: 1;
		font-size: 20px;
	} 
}

.project {
    padding-left: 1vw;
    color: rgba(20, 54, 66, 1);
}

h5.project{
    padding-top: 1vw;
    margin-bottom: 0em;
}

p.project{
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .05vw;
}

@media only screen and (min-width: 768px) {
    .project-small {
        padding-left: 1vw;
        color: rgba(20, 54, 66, 1);
        font-size: 14px;
        margin-bottom: 0;
    }
}
    

/*//////////ABOUT PAGE//////////*/
.about {
    padding-top: 7em;
}

.about #title {
    letter-spacing: 0.05em;
    font-weight: 600;
}

.about p {
    padding-bottom: .5em;
}

#title span{
    color: rgba(20,54,66,1);
 
}

#me {
    width: 25vw;
}

/*//////////CASE STUDIES//////////*/


.img-bg {
	
	border-left: 2px solid black;
	background-color: rgba(36, 189, 180, .33);
}

.pic-bg {
    background-color: rgba(100, 173, 189, 1);
    padding: 50px;
}

.title-bg {
    padding-top: 6.75em;
}

.title {
	font-weight: bold;
	letter-spacing: .05em;
}

.subtitle {
    letter-spacing: 0.05em;
	font-size: .85em;
	font-style: italic;
}

.caption {
	display: block;
	padding-top: 10px;
	color: #000;
	font-size: .90rem;
	font-style: italic;
}

.header {
    letter-spacing: .025em;
    font-weight: bold;
    padding-top: 2.5em;
}

row p{
	margin: auto;
}

.space{
	height: 3px;
	width: 50vw;
	border: none;
	background:  rgba(255, 196, 45, 1);
	border-bottom: 2px solid black;
}

.space:after{
	content: "\25FC";
	display: inline-block;
	position: relative;
	top: -.55rem;
	font-size: 20px;
	padding: 0 15px;
	color: rgba(255, 196, 45, 1);
	-webkit-text-stroke: 2px black;
	background: white;
}

h5.blurb, div.blurb, p.blurb, img.blurb {
	margin-top: 1.5em;
}

.fa {
	margin: .25rem .75rem;
}
